---
title: About
permalink: /
---

{% include head.html %}

<div id="about-header-container">
    <div id="about-header">
        <h1> Josh Rozner </h1>
        {% include social_links.html %}
    </div>
</div>

{% include navbar.html %}

<p class="intro-text">
    Hey, I'm an Associate Product Manager at Google. I worked on YouTube and
    now work on Maps in Google Tokyo. I enjoy learning, especially languages.
    I swim, cycle, run, and scuba dive.

    <br> <br>
    I started this site to share musings, ideas, projects, and knowledge.
</p>
